

.frame .bigscore {
	margin: 15% auto;
}

.frame .bigscore-total {
	font-size: 5em;
    font-weight: bold;
	padding: 20px 60px;
	text-align: center;
	width: 50%;
}

.frame .bigscore-name {
	text-align: center;
}
