

.frame .bigscore {
	margin: 0 auto;
}

.frame .bigscore-total {
	font-size: 5em;
    font-weight: bold;
	padding: 20px 60px;
	text-align: center;
	width: 50%;
}

.frame .bigscore-name {
	text-align: center;
}

.frame .big_image {
	text-align: center;
}
.frame .big_image img {
	max-width: 100%;
	max-height: 100%;
}
