
@import "beamer.css";
@import "layer.css";

body {
	background: black;
	color: #fff;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 40px;
	overflow: hidden;
}


h1 {
	margin: 0;
}

#game-hud {
	text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;  
}
